.todo-container{
    background-color: #e3f2fd;
    color: #0a192f;
    padding: 15px;
    height: 10%;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#todo-section{
    background-color: #1976d2;
    padding: 15px;
     height: 100%;
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
     justify-content: center;
    
}

.container{
    /* justify-items: center; */
     height: 100vh;
   

}
.todo-summary{
    justify-items: center;
    margin-top: 10rem;
}

#todo-text{
    width: 50rem;
    height: 5rem;
    border-radius: 10px;
    border-style: none;
   
}

.todo-btn{
    width: 5rem;
    border-radius: 5px;
     border-style: none;
     background-color: #0a192f;
     height: 40px;
     color: #e3f2fd;
     cursor: pointer;
     
}

.todo-btn:hover{
    background-color: #e3f2fd;
    color:#0a192f;

}

.section{
    
}


.strike{
    text-decoration: line-through;
}